@font-face {
    font-family: "Roboto", Sans-Serif;
    src: local(), url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

html {
    font-size: 16px;
}

body {
    background-color:#DDDAF2;
}

header {
    text-align:center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

main {
    background-color: white;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
}

.number {
    margin: 30px;
    font-family: "Roboto";
    font-size: 4rem;
    color:#F4BF13;  
}

.bonusNumber, main > b{
    color:#76468C;
}

#genButton {
    background-color: black;
    color:white;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 15px;
    margin-top: 30px;
    padding: 15px 32px;
    cursor:pointer;
}

footer {
    font-family: "Roboto";

}

.logo {
    width: 30px;
    height: 30px;
}